/*----------------------------------------
  GMS Accounts Page Style
------------------------------------------*/
.gms-accounts-page {
    background-color: $body-bg;   

    .h2 {
        font-size: 3.2rem;
        font-weight: 600;
        color: #000000;

    }
}