/*----------------------------------------
  Sidebar Style
------------------------------------------*/
.sidebar {
    display: flex;
    z-index: 100;
    box-shadow: 3px 0px 6px #00000029;
    width: 28rem;
    height: 100vh;
    overflow: hidden;
    transition: all .3s;
    
    &.show{
        width: 7.5rem;
        height: 100vh;

        &:hover{
            width: 28rem;
            height: 100vh;
            overflow: hidden;
            transition: all .3s;

            .sidebar-sticky {

                .nav {

                    .sidebar-header {

                        .sidebar-brand {
                            padding: 1.5rem 3rem;

                            .logo {
                                display: block;
                            }
                        }
                    }
                }
            }
        }

        .sidebar-sticky {
            .nav {
                .sidebar-header {
                    .sidebar-brand {
                        padding: 2rem;

                        .logo {
                            display: none;
                        }

                        .navbar-toggoler {}
                    }
                }
            }
        }
    }

    .sidebar-sticky {
        
        .nav {

            .sidebar-header {
                margin: 0 0 3rem 0;
 
                .sidebar-brand {
                    height: 9rem;
                    display: flex;
                    align-items: center;
                    padding: 1.5rem 3rem;
                    white-space: nowrap;

                    a {
                        color: $white;
                        font-size: 2rem;
                        font-weight: 600;

                        span {
                            font-weight: 400;
                        }
                    }

                    .navbar-toggler {
                        height: 60px;
                        width: 60px;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        &:hover {
                            border-radius: 50%;
                            cursor: pointer;
                            background-color: rgba(255, 255, 255, 0.2);
                        }
                    }
                }
            }

            .nav-item {
                margin: 0.5rem 0;
                padding: 0 0 0 1.5rem;

                .nav-link {
                    color: $white;
                    font-size: 1.4rem;
                    padding: 1rem 3rem 1rem 1.2rem;
                    white-space: nowrap; 

                    @include media-breakpoint-down(lg) {
                        padding: 1.5rem 0.5rem 1.5rem 3rem;
                    } 

                    &.active,  
                    &:hover {
                        color: #8E24AA;
                        background-color: #fff;
                        border-radius: 2.8rem 0px 0px 2.8rem;
                    }  
    
                    .mr-sm {
                        margin-right: 2.5rem;
                    } 

                    .rotate {
                        font-size: 2rem;
                        -moz-transition: all .5s linear;
                        -webkit-transition: all .5s linear;
                        transition: all .3s linear; 
                    }

                    &[aria-expanded="true"] {
                        .rotate {
                            -moz-transform: rotate(90deg);
                            -webkit-transform: rotate(90deg);
                            transform: rotate(90deg);
                        }
                    }
                }

                .sub-group {
                    margin: 0px 0px 0px 15px;

                    .nav {
                        .nav-item {
                            .nav-link {
                                padding: 1rem 3rem;
                            }
                        }
                    }
                }
            }  
        }

        .nav-bottom {
            margin: 5rem 0 0 0;
            border-top: 1px solid #FFFFFF;

            .nav-link {

                &.active,
                &:hover {
                    color: #fff !important;
                    background-color: #8E24AA !important;
                    border-radius: 2.8rem 0px 0px 2.8rem;
                }
            }
        }
    }
}