.nav-icon {
    width: 30px;
    cursor: pointer;

    div {
        position: relative;
        width: 100%;
    }

    div,
    &:after,
    &:before {
        content: "";
        background: $white;
        border-radius: 3px;
        height: 2px;
        display: block;
        margin: 7px 0;
        transition: all 0.2s ease-in-out;
    }
    &:after,
    &:before {
        width: 70%;
        right: 50%;
    }
}